body{
  /* background: rgb(222, 236, 240); */
  /* background: rgb(190, 221, 229); */
  margin: 0px;
}

.circle{
  width: 200px;
  height: 200px;
  /* background-color: rgb(222, 236, 240); */
    background-color: rgb(0, 0, 0);
  margin-top:50px;
  /* transform: rotate(45deg); */
  display: flex;
  /* border-radius: 50%; */
  /* border: 5px solid rgb(232, 240, 222); */
  
  position: relative;

  /* box-shadow: 0px 0px 400px -42px rgba(0, 0, 0, 0.75) inset; */

}

#stars {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(66, 66, 66, 0.8);
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.7);
}

.circle-container{
  /* display:flex; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  /* width: calc(100vw - 2px); */
  /* border: 1px solid red; */
  /* margin: 100px; */
  /* padding: 20px; */
  margin-left: 50px;
  margin-right: 50px;
}

.lines{
  width: 3%;
  height: 100%;
  /* border-radius: 50%; */
  /* background-color: purple; */
  /* opacity: 80%; */
  /* mix-blend-mode: hue; */
  position:absolute;
  top: 50%;
  left: 50%;
  border-radius: 90%;
  /* transform: translate(-50%, -50%) rotate(45deg); */
  
/*   i added this in after class to make it pretty! */
/*   play with other values of mix-blend-mode for some more fun */
  /* mix-blend-mode: multiply; */
  /* animation: rotate360 5s linear infinite; */
  transformOrigin: center center;
  /* box-shadow: 0px 0px 30px 5px rgba(255, 241, 202, pVal); */
  /* background-color: white; */
  z-index: 5;
  /* border: 5px;
  border-style: dotted; */
}

/* .triangle {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  border-top: 0;
  border-bottom: 300px solid red;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3% 100% 3%;
  border-color: transparent transparent #007bff transparent;
} */

/* below doesnt work */
@keyframes rotate360 {
  100% {transform: rotate(360deg);}
}

@keyframes grow {
  0% {
    height: 15%;
  }
  50% {
    height: ${(Math.random() * eVal / 2) + '%'};
  }
  100% {
    height: ${(Math.random() * eVal) + '%'};
  }
}

  /* #column-a{
    font-size: 300px;
    color: black;
  } */


#song-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

#song-name{
  text-align: center;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 210px;
  font-family: 'Roboto Mono', monospace;;
}
  

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #2196F3;
  /* padding: 10px; */
  margin-left: 50px;
  margin-right: 50px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  
}